<% layout("layouts/boilerplate") %>
<div class="row mt-3">
    <div class="card col-md-6 offset-md-3">
        <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="post" class="form-group form-validation" enctype="multipart/form-data" novalidate>
            <fieldset>
                <legend class="text-center margin-bottom">Edit campground</legend>
                <div class="mb-3">
                    <label for="title" class="form-label">Edit Title</label>
                    <input type="text" name="title" id="title" placeholder="Campground title" value="<%= campground.title %>" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Edit Location</label>
                    <input type="text" name="location" id="location" placeholder="Campground location" value="<%= campground.location %>" class="form-control" required>
                    <div class="valid-feedback">Looks good!</div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <div class="input-group">
                        <span id="price-label" class="input-group-text">$</span>
                        <input type="text" id="price" name="price" placeholder="0.00" value="<%= campground.price %>" class="form-control" aria-label="price-label" aria-describedby="price-label" required> 
                        <div class="invalid-feedback">Please enter a price for the campground!</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Update Image(s)...</label>
                    <input type="file" name="image" id="image" class="form-control" multiple>
                    <!-- <div class="invalid-feedback">Please choose an image file!</div> -->
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea id="description" name="description" placeholder="Description" rows="3" class="form-control" required><%= campground.description %></textarea>
                    <div class="invalid-feedback">Please enter a small description about the campground!</div>
                </div>
                <div class="mb-3">
                    <% campground.images.forEach(function (img, i) { %>
                        <image src="<%= img.thumbnail %>" alt="<%= campground.title %> images" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%= i %>" name="deletedImages[]" value="<%= img.filename %>" class="form-check-input">
                            <label for="image-<%= i  %>" class="form-check-label">Delete</label> 
                        </div>
                    <% }) %>
                </div>
                
                <div class="mb-3">
                    <button class="btn btn-info">Update Campground</button>
                    <a href="/campgrounds/<%= campground._id %>">
                        <input type="button" value="Cancel" class="btn btn-secondary">
                    </a>
                </div>          
            </fieldset>
        </form>
    </div>
</div>

