<% layout("layouts/boilerplate") %>
<link rel="stylesheet" href="/stylesheets/stars.css">
<div class="row">

    <!-- display campground on left side -->
    <div class="col-6">
        <div class="card my-3">

            <!-- display default image if no image is provided -->
            <% if (!campground.images.length > 0) { %>
                <img src="/images/campfire3.jpg" alt="Default Campground Image" class="card-img-top d-block w-100">
            <% } %>
            <div id="carouselControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <% campground.images.forEach((img, i) => { %>
                        <div class="carousel-item <%= i===0 ? 'active' : '' %>">
                            <img src="<%= img.url %>" alt="<%= campground.title %> images" class="card-img-top d-block w-100">
                        </div>
                    <% }) %>  
                </div>
    
                <!-- display controls only if there is more than one image -->
                <% if (campground.images.length > 1) { %>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
                <% } %>
            </div>
           
            <div class="card-body">
                <h5 class="card-title"><%= campground.title %></h5>
                <h6 class="card-subtitle text-muted mb-2">Submitted by <%= campground.author.username %></h6>
                <p class="card-text"><%= campground.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%= campground.location %></li>
                <li class="list-group-item">$<%= campground.price %>/night</li>
            </ul>
            <% if (currentUser && campground.author.equals(currentUser._id)) { %>
                <div class="card-body">
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-info card-link">Edit</a>
                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="post" class="d-inline">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                </div>
            <% } %>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
    </div>

    <!-- display review form and reviews on the right side-->
    <div class="col-6">
        <!-- mapbox map -->
        <div id="map" class="my-3" style="width: 100%; height: 300px"></div>
        <% if (currentUser) { %>
            <h2>Add a Review</h2>
            <!-- review form -->
            <form action="/campgrounds/<%= campground._id %>/reviews" method="post" class="mb-3 form-validation" novalidate>
               
                <!-- review stars -->
                <div>
                    <fieldset class="starability-basic">
                        <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                        <input type="radio" id="first-rate1" name="rating" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="rating" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="rating" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="rating" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="rating" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                    </fieldset>
                </div>
                <!-- review form -->
                <div class="mb-3">
                    <label for="body" class="form-label">Review</label>
                    <textarea id="body" name="body" class="form-control" placeholder="Add a review!" required></textarea>
                    <div class="valid-feedback">Looks good!</div> 
                </div>
                <button class="btn btn-success">Submit</button> 
            </form>
        <% } %>
        
        <!-- display reviews -->
        <% for (let review of campground.reviews) { %>
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title"><%= review.author.username %></h5>
                    <p class="starability-result" data-rating="<%= review.rating %>">
                      Rated: <%= review.rating %> stars
                    </p>
                    <p class="card-text">Review: <%= review.body %></p>
                    <% if (currentUser && review.author.equals(currentUser._id)) { %>
                        <form action="/campgrounds/<%= campground._id %>/reviews/<%= review._id %>?_method=DELETE" method="post">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
</div>

<!-- mapbox map -->
<script> 
    const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
    const campground = <%- JSON.stringify(campground) %> 
</script>
<script src="/js/map.js"></script>

